html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  flex-grow: 1;
  padding-top: 15vh;
  width: 100%;
}
a {
  color: #4C4C4C;
  text-decoration: none;
}
h1, h2, h3 {
  color: #4c4c4c;
  font-family: 'Playfair Display', serif;
}
h4, h5, h6, p, li {
  color: #4c4c4c;
  font-family: 'Raleway', Helvetica, sans-serif;
}
#call-action {
  border: 1px solid #4C4C4C;
  display: inline-block;
  list-style: none;
  padding: 1em;
}
#call-action:hover {
  background-color: #4C4C4C;
}
#call-action:hover a {
  color: #fff;
}
#call-action a {
  background-color: transparent;
  color: #4C4C4C;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

/* HEADER STYLES */
.header {
  background-color: #fff;
  height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  height: 14vh;
  left: 3%;
  padding-top: 2.2vh;
  position: relative;
  text-align: center;
  width: 14vh;
}
.header-logo img {
  width: 22vh;
}
.header-nav {
  float: right;
  padding: 6.2vh 5vh 0 0;
}
.header-nav span,
.drop-trigger {
  /* margin-left: 1em; */
  text-align: center;
}
.header-nav > li {
  display: inline-block;
  list-style: none;
  padding-right: 1.2em;
  /* margin-left: 1em; */
  text-align: center;
}
/* .header-nav > li ~ li {
  border-left: 1px solid rgba(76, 76, 76, 0.1); 
  padding-left: 1em;
} */
.header-nav #call-action a {
  font-size: 0.9rem;
}
.header-nav a {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  color: #4C4C4C;
  text-decoration: none;
}
.header-nav a:hover {
  color: #ffaf06;
}
.header-nav span,
.drop-trigger,
.show-mobile-menu {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  color: #4C4C4C;
  text-decoration: none;
}
.header-nav span:hover {
  color: #ffaf06;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.drop-trigger {
  display: inline-block;
  /* padding-right: 1em; */
  position: relative;
}
/* .drop-trigger:after {
  border: 0.2em solid;
  border-color: rgb(220, 220, 220) transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.2em;
  width: 0;
} */
.drop-menu {
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
  display: none;
  list-style: none;
  padding: 0.8em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #F5F5F5;
  content: "";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.3em;
  width: 0;
}
.drop-menu li {
  background-color: #F5F5F5;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.2);
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  /* color: #6b6b6b; */
  /* font-size: 0.6em; */
  padding-top: 0.6rem;
  text-align: left;
  /* text-transform: uppercase; */
}
.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
  /* padding-top: 0.4rem; */
  text-align: left;
}
.drop-menu a {
  color: #4c4c4c;
  display: block;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1);
  color: #4d4d4d; 
}
/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
  display: none;
}
.footer .drop-trigger {
  padding-right: 0;
}


/* HERO STYLES */
.full-hero {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 85vh;
  /* padding-top: 14vh; */
}
.full-hero:after {
  bottom: 2vh;
  color: #fff;
  content: "﹀";
  font-size: 36px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
.hero-home {
  background-image: url('../images/hero3.jpg');
  background-position: center top;
}
.hero-content {
  color: #4C4C4C;
  font-size: 3rem;
  padding-left: 5.5vh;
  position: relative;
  text-align: center;
  top: 30%;
  transform: translate(0, -20%);
}
.hero-content h1 {
  color: rgba(76, 76, 76, 0.7);
  font-weight: 400;
  text-transform: none;
}

/* CALLOUT STYLES */
.home-callout {
  display: flex;
  flex: 1 1 auto;
  min-height: 86vh;
  max-width: 100vw;
  /* position: relative; */
  /* consider doing min-height at 100vh and add padding to top */
}
.callout-copy {
  align-items: center;
  /* box-sizing: border-box; */
  flex: 1 1 auto;
  padding: 3vh 0 3vh 4vw;
  margin-bottom: 4vh;
  margin-top: 8vh;
  vertical-align: middle;
}
.callout-copy .callout-title {
  background-color: rgb(240, 240, 240);
  font-size: 2.2rem;
  font-weight: 400;
  padding: 4vh 4vw 2vh;
  text-transform: capitalize;
}
.callout-copy p {
  background-color: rgb(240, 240, 240);
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.6;
  padding: 2vh 4vw 0 4vw;
  text-align: justify;
}

.callout-copy > ul {
  background-color: rgb(240, 240, 240);
  padding: 5vh 4vw 5vh 4vw;
}
.callout-image {
  flex: 1 2 0;
  padding: 3vh 4vw 3vh 0;
}
.callout-image img {
  margin-bottom: 2vh;
  margin-top: 2vh;
  max-height: 78vh;
}
.callout-call {
  border: 0.7px solid #4C4C4C;
  display: inline-block;
  list-style: none;
  padding: 1em;
}
.callout-call a {
  background-color: transparent;
  color: #4C4C4C;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
}

/* SERVICES STYLES */

.services-section {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex: 1 1 auto;
  min-height: 86vh;
  /* width: 100vw; */
  /* consider doing min-heigh at 100vh and add padding to top */
}
.services-header {
  flex: 1 1 0;
}
.services-header h1 {
  background-color: #6b6b6b;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 10vh 0;
  text-align: center;
}
.services-title h3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 4vh 2vw 2vh;
  text-align: center;
}
.services-copy-wrapper {
  align-items: top;
  display: flex;
  flex: 1 1 0;
  width: 100%;
}
.services-box {
  align-items: center;
  flex: 1;
  padding: 7vh 3vh 5vh;
}
.services-images {
  padding: 3vh 0;
  text-align: center;
}
.services-images img {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  object-fit: cover;
}

/* TESTIMONIAL STYLES */
.testimonial-wrapper {
  align-items: center;
  background-color: #f5ab33;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  text-align: center;
  min-height: 85vh;
  /* width: 100%; */
  /* consider doing min-heigh at 100vh and add padding to top */
}
.testimonial-image {
  box-sizing: border-box;
  flex: 0 1 0;
  padding-top: 7vh;
}
.quote img {
  display: inline-block;
  height: 7vh;
}
.testimonial-copy {
  /* box-sizing: border-box; */
  flex: 1 1 0;
  padding: 6vh 16vw 0;
}
.testimonial-copy p {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 2;
  /* overflow: scroll; */
}
.testimonial-copy span:last-child {
  display: none;
}
.testimonial-author {
  /* box-sizing: border-box; */
  align-self: center;
  flex: 1 1 0;
  padding: 5vh 5vw 0;
}
.testimonial-author h2 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}
.testimonial-call {
  align-self: center;
  flex: 1 1 0;
}


/* CONTACT FORM STYLES */
.contact-wrapper {
  align-content: flex-start;
  display: flex;
  flex: 1 1 0;
  /* min-height: 86vh; */
  max-height: 200vh;
  text-align: center;
  width: 100%;
  /* consider doing min-height at 100vh and add padding to top */
}
.contact-image {
  background-position: center bottom;
  background-image: url(../images/forest5.jpeg);
  background-size: cover;
  flex: 2 1 0;
  /* min-height: 86vh; */
}
.contact-image img {
  width: 100%
}
.contact-copy {
  display: flex;
  flex: 3 1 0;
  flex-direction: column;
  padding-bottom: 4vh;
}
.contact-copy h1 {
  font-size: 2.2rem;
  font-weight: 500;
}
.contact-copy p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 4vh 10vw 6vh;
}
.contact-copy-text {
  padding-top: 4vh;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=message], input[type=tel], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #4c4c4c; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 20px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4c4c4c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ed6e2f;
}

/* Add a background color and some padding around the form */
.contact-copy-form{
  border-radius: 5px;
  background-color: #fff;
  padding: 0 16vw 2vh;

}
label {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* FOOTER STYLES */
.footer {
  background-color:#4c4c4c;
  min-height: 10vh;
  padding: 5vh 0 4vh;
  width: 100%;
}
.footer h4 {
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
  font-weight: 400;
  padding-top: 5vh;
  text-align: center;
}
.footer h4 span {
  display: block;
  padding-top: 2vh;
}
.footer-nav {
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  text-align: center;
}
.footer-nav a {
  color: #fff;
  font-size: 1rem;
}

/* ABOUT PAGE STYLES */
.about-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 3vh 3vw;
}
.about-image {
  align-items: center;
  flex: 1 1 0;
  text-align: center;
}
.about-image img {
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}
.about-copy {
  line-height: 1.85;
  padding: 3vh 20vw;
  text-align: center;
}
.about-copy h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.about-copy p {
  font-size: 1rem;
  font-weight: 300;
}
.about-copy-text {
  padding: 2vh 0;
}
.about-copy-list {
  list-style: none;
  padding: 1vh 0 3vh;
}
.about-copy-list li {
  font-weight: 300;
  padding: 1vh 0;
}
.about-copy-strong {
  border: 1px solid #4c4c4c;
  padding: 2vh 2vw;
}
.about-copy-strong:hover {
  background-color: #f5ab33;
  border: 1px solid #f5ab33;
  color: #fff;
  /* font-weight: 400; */
}
.about-call {
  padding-top: 5vh;
}

/* TESTIMONIALS PAGE STYLES */
.testimonials-page-wrapper {
  align-items: center;
  border: 3vw solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  width: 100%;
}
.testimonials-page-wrapper h1 {
  background-color: #ffaf06;
  box-sizing: border-box;
  color: #fff;
  font-size: 2.5rem;
  padding: 8vh 0 8vh;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.testimonials-page-line {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 43vh;
  padding: 2vh 3vw 0;
  width: 100%;
}
.testimonials-page-box {
  align-items: center;
  color: #4c4c4c;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4vh 4vw;
  width: 50%;
}
.testimonials-page-box:hover {
  border: 1px solid #ffaf06;
  background-color: #ffaf06;
  color: #fff;
}
.testimonials-page-image {
  flex: 1;
}
.testimonials-page-image img {
  height: 7vh;
  padding-bottom: 4vh;
}
.testimonials-page-copy {
  flex: 1;
  text-align: center;
}
.testimonials-page-copy p {
  line-height: 1.8;
  padding-bottom: 4vh;
}
.testimonials-page-copy h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* FAQ PAGE STYLES */
.faq-wrapper {
  align-items: center;
  border: 3vw solid #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  width: 100%;
}
.faq-wrapper h1 {
  background-color: #ffaf06;
  color: #fff;
  font-size: 2.2rem;
  padding: 8vh 0;
  text-align: center;
  width: 100%;
}
.faq-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.faq-image {
  flex: 0 1 auto;
}
.faq-image img {
  height: 7vh;
  padding-bottom: 6vh;
  padding-top: 5vh;
}
.faq-copy {
  border-bottom: 1px dotted rgba(76, 76, 76, 0.2);
  flex: 1;
  padding-bottom: 7vh;
}
.faq-copy:last-child {
  border-bottom: none;
}
.faq-copy p {
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 3vh 20vw 0;
}
.faq-copy h3 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 2vh;
}

/* INDIVIDUAL COACHING STYLES */
.individuals-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.individuals-copy {
  align-content: center;
  background-color: rgb(230, 230, 230);
  flex: 1;
  line-height: 1.85;
  padding: 5vh 22vw;
  text-align: center;
}
.individuals-copy p {
  font-size: 1rem;
  font-weight: 400;
  padding: 2vh 0;
}
.individuals-copy-title {
  background-color: #ffaf06;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 8vh 0;
  text-align: center;
  width: 100%;
}
.individuals-call {
  padding: 5vh 5vw 5vh;
}
p .individuals-copy-strong {
  font-size: 20rem;
}
.individuals-copy-strong:hover {
  background-color: #f5ab33;
  border: 1px solid #f5ab33;
  color: #fff;
  font-weight: 400;
}
.individuals-style-wrapper {
  align-content: flex-start;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.style-image {
  background-image: url(../images/coach_style.jpg);
  background-position: center center;
  background-size: cover;
  flex: 1 1 0;
  margin: 4vh 3vh 4vh 8vw;
}
.style-copy {
  flex: 1 1 0;
  line-height: 1.8;
  margin: 4vh 8vw 4vh 3vw;
  text-align: justify;
}
.style-copy h1 {
  font-size: 1.3rem;
  font-weight: 500;
}
.style-copy p {
  font-size: 1rem;
  padding: 2vh 0 0;
}
.style-call {
  padding: 3vh 0 5vh;
}
.individuals-commitment-wrapper {
  align-content: flex-start;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  width: 100%;
}
.commitment-image {
  background-image: url(../images/commitment.jpg);
  background-position: center center;
  background-size: cover;
  flex: 1 1 0;
  margin: 6vh 8vw 6vh 2vw;
}
.commitment-copy {
  flex: 1 1 0;
  margin: 6vh 2vw 6vh 8vw;
  text-align: center;
}
.commitment-copy h1 {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 2vh 4vw 4vh;
}
.commitment-copy p {
  font-size: 1rem;
  line-height: 1.8;
  padding: 2vh 2vw 0;
}

/* MEDIA STYLES */

@media (max-width: 1050px) {

/* MOBILE MENU - MAX 1050PX */
.show-mobile-menu {
  display: block;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5vh;
  padding: 2rem;
  position: relative;
  text-transform: uppercase;
}
.show-mobile-menu li {
  vertical-align: middle;
}
.header-nav {
  background-color: #fff;
  box-sizing: border-box;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 15vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: 9;
}
.header-nav li {
  display: block;
  margin-top: 1em;
}
.header-nav li{
  border: 0;
  padding: 0;
}
.header-nav li:last-child {
  margin-bottom: 1em;
}

/* HIDE DROPDOWN IN THE NAV MENU */
.header-nav .dropdown:hover .drop-menu,
.header-nav .drop-trigger:after {
  display: none;
}
.header-nav .drop-trigger {
  padding-right: 0;
}
.mobile-menu-check:checked ~ .header-nav {
  max-height: 1000px;
}
.mobile-menu-check:checked ~ .show-mobile-menu:after {
  background-color: #fff;
  color: #ed6e2f;
  content: "CLOSE";
  left: 0;
  position: absolute;
  top: 1.15em;
  width: 100%;
  text-align: center;
}


/* CALLOUT STYLES - MAX 1050PX */

.home-callout {
  flex-direction: column-reverse;
}
.callout-image{
  align-items: center;
  background-color: rgb(240, 240, 240);
  flex: 1 1 0;
  text-align: center;
}
.callout-image img {
  border-radius: 50%;
  width: 45vw;
  height: 45vw;
  margin: 0;
  padding: 3vh 0;
  object-fit: cover;
}
.callout-copy {
  align-items: center;
  background-color: rgb(220, 220, 220);
  flex: 1 1 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 3vh 4vw;
}
.callout-copy .callout-title {
  background-color: initial;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 3vh 1vw 0;
  text-align: center;
}
.callout-copy p {
  background-color: initial;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 4vh 8vw 2vh;
  text-align: center;
}
.callout-copy ul {
  background-color: initial;
  padding: 4vh 5vw 4vh;
  text-align: center;
}

/* SERVICES STYLES - MAX WIDTH 1050PX */
.services-copy-wrapper {
  flex-direction: column;
  justify-content: center;
  min-height: 85%;
}
.services-box ~ .services-box {
    border-top: 0.5px dotted rgba(76, 76, 76, 0.3);
}
.services-box {
  padding: 4vh 3vw;
}
.services-header h1 {
  font-size: 2.5rem;
}
.services-images img {
  width: 37vh;
  height: 37vh;
}
.services-title h3 {
  font-size: 2rem;
}
 
/* FAQ STYLES - MAX WIDTH 1050PX */
.faq-copy p {
  font-size: 1.3rem;
  padding: 3vh 13vw 0;
}

}

@media (max-width: 900px) {
 
  /* HEADER STYLES - MAX 900PX */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a span {
    font-size: 3.25vw;
  }
  .header-logo {
    left: 3%;;
  }

  /* MOBILE MENU - MAX 900PX */
.show-mobile-menu {
  font-size: 1.6rem;
  margin-top: 5vh;
  padding: 2rem;
}
.mobile-menu-check:checked ~ .show-mobile-menu:after {
  top: 1.3em;
}

  /* HERO STYLES - MAX 900PX */
  .hero-content {
    top: 24%;
  }
  .hero-content h1 {
    font-size: 2.8rem;
    font-weight: 400;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .hero-home {
    /* background-image: url(../images/mountain3.jpeg); */
    background-position: center center;
    background-size: cover;
}

/* TESTIMONIAL STYLES - MAX WIDTH 900PX */
.testimonial-copy {
  padding: 6vh 8vw 0;
}
.testimonial-copy p {
  font-size: 1rem;
}
.testimonial-author h2 {
  font-size: 1.5rem;
}

/* CONTACT STYLES - MAX 900PX */
.contact-wrapper {
  flex-direction: column-reverse;
}
.contact-copy {
  min-height: 60vh;
}
.contact-copy p {
  font-size: 1.1rem;
  padding: 4vh 14vw 4vh;
}
.contact-image {
  min-height: 30vh;
}
.contact-copy-form {
  padding: 0 20vw 4vh;
}

/* ABOUT PAGE STYLES - MAX 900PX */
.about-copy {
  padding: 3vh 10vw;
}

/* TESTIMONIALS PAGE STYLES - MAX 900PX */
.testimonials-page-line {
  flex-direction: column;
  min-height: 43vh;
  padding: 2vh 0 0;
}
.testimonials-page-box {
  width: 90%;
}

/* FAQ STYLES - MAX WIDTH 900PX */
.faq-copy p {
  font-size: 1.2rem;
  padding: 3vh 13vw 0;
}
.faq-copy h3 {
  font-size: 1.5rem;
}

/* INDIVIDUALS STYLES - MAX WIDTH 900PX */
.individuals-copy {
  line-height: 1.8;
  padding: 5vh 6vw;
}
.individuals-copy p {
  font-size: 1rem;
}
.individuals-copy-title {
  font-size: 1.8rem;
}
.individuals-call {
  padding: 5vh 5vw 5vh;
}
.individuals-style-wrapper {
  flex-direction: column;
}
.style-image {
  margin: 0;
  min-height: 35vh;
}
.style-copy {
  margin: 0;
  padding: 3vh 8vw;
  text-align: center;
}
.style-copy h1 {
  font-size: 1.3rem;
  padding: 4vh 4vw 2vh;
}
.style-copy p {
  font-size: 1rem;
  padding: 2vh 0 0;
}
.style-call {
  padding: 3vh 0 5vh;
}
.individuals-commitment-wrapper {
  flex-direction: column;
}
.commitment-image {
  margin: 0;
  min-height: 35vh;
}
.commitment-copy {
  margin: 0;
  padding: 3vh 8vw;
}
.commitment-copy h1 {
  font-size: 1.3rem;
  padding: 4vh 4vw 2vh;
}
.commitment-copy p {
  font-size: 1rem;
  padding: 2vh 0;
}


}

@media (max-width: 800px) {
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    top: 1.35em;
  }

}

@media (max-width: 450px) {

/* MOBILE MENU - MAX 450PX */
.show-mobile-menu {
  font-size: 1.4rem;
  margin-top: 4vh;
}

/* HERO STYLES - MAX 900PX */
.hero-content h1 {
  font-size: 1.6rem;
}

/* CALLOUT STYLES - MAX 450PX */
.callout-image{
  align-content: center;
  flex: 1 1 0;
  padding: 3vh 4vw 3vh;
}
.callout-image img {
  width: 40vh;
  height: 40vh;
}
.callout-copy .callout-title {
  background-color: initial;
}
.callout-copy p {
  background-color: initial;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 4vh 6vw 2vh;
}
.callout-copy ul {
  background-color: initial;
}

/* CONTACT STYLES - MAX 450 */
.contact-wrapper {
  flex-direction: column-reverse;
  min-height: 130vh;
}

/* SERVICES STYLES - MAX 450 */
.services-header h1 {
  font-size: 2rem;
  padding: 7vh 0;
}
.services-images {
  padding-top: 3vh;
}
.services-images img {
  width: 35vh;
  height: 35vh;
}
.services-title h3 {
  font-size: 1.5rem;
  padding: 6vh 3vw 3vh;
}

/* FOOTER STYLES - MAX 450PX */
.footer {
  padding: 4vh 0 3vh;
}
.footer h4 {
  padding-top: 1.8rem;
}

/* ABOUT PAGE STYLES */
.about-copy {
  padding: 3vh 6vw;
}
.about-image img {
  height: 50vw;
  width: 50vw;
}
.about-copy h1 {
  font-size: 2rem;
}
.about-copy p {
  font-size: 0.9rem;
  font-weight: 400;
}
.about-copy-list li {
  font-size: 0.9rem;
  font-weight: 400;
}

/* TESTIMONIAL STYLES - WIDTH 450PX */

.testimonial-copy span:first-child {
  display: none;
}
.testimonial-copy span:last-child {
  display: initial;
}
.testimonial-copy {
  padding: 4vh 6vw 0;
}
#testimonial-copy-mobile p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9;
}
#testimonial-author-mobile h2 {
  font-size: 1.4rem;
}

/* CONTACTS STYLES - MAX WIDTH 450PX */
.contact-copy {
  min-height: 60vh;
}
.contact-copy p {
  font-size: 1.1rem;
  padding: 4vh 8vw 3vh;
}
.contact-image {
  min-height: 30vh;
}
.contact-copy-form {
  padding: 3vh 20vw 5vh;
}

/* FAQ PAGE STYLES - MAX WIDTH 450PX */
.faq-wrapper {
  border: none;
}
.faq-wrapper h1 {
  background-color: #ffaf06;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
}
.faq-image img {
  height: 9vh;
}
.faq-copy p {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.6;
  padding: 3vh 8vw 0;
}
.faq-copy h3 {
  font-size: 1.5rem;
  padding: 0 4vw 2vh;
}


}

@media (max-width: 375px) {

/* MOBILE MENU - MAX 375PX */
  .show-mobile-menu {
    margin-top: 3.4vh;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    top: 1.5em;
  }

@media (max-width: 350px) {

/* MOBILE MENU - MAX 450PX */
.show-mobile-menu {
  font-size: 1.1rem;
  margin-top: 2.4vh;
}
.mobile-menu-check:checked ~ .show-mobile-menu:after {
  top: 1.6em;
}

/* CALLOUT STYLES - MAX 350PX */
.callout-copy p {
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 3vh 3vw 0;
}
.callout-copy p > span {
  display: none;
}
.callout-copy .callout-title {
  font-size: 2rem;
  padding: 2rem 2rem 1rem;
}
.callout-copy ul {
  padding: 5vh 4vw 4vh;
}

/* SERVICES STYLES - MAX 350 */
.services-header h1 {
  font-size: 1.6rem;
}
.services-title h3 {
  font-size: 1.3rem;
  padding: 4vh 3vw 3vh;
}

/* TESTIMONIAL STYLES - WIDTH 350PX */
#testimonial-copy-mobile p {
  font-size: 1rem;
}
#testimonial-author-mobile h2 {
  font-size: 1.1rem;
}

/* CONTACT STYLES - MAX 350PX */
.contact-copy {
  /* min-height: 70vh; */
}
.contact-copy p {
  font-size: 1rem;
  padding: 4vh 7vw 3vh;
}
.contact-copy h1 {
  font-size: 1.6rem;
}
.contact-image {
  /* min-height: 30vh; */
}
.contact-copy-form {
  padding: 3vh 20vw 5vh;
}

/* FOOTER STYLES - MAX 350PX */
.footer {
  padding: 4vh 0 3vh;
}
.footer h4 {
  font-size: 0.7rem;
  padding-top: 1rem;
}
.footer h4 span {
  padding-top: 0.6rem;
}
.footer-nav li {
  font-size: 0.75rem;
}

/* FAQ PAGE STYLES - MAX WIDTH 350PX */
.faq-wrapper h1 {
  font-size: 1.6rem;
}
.faq-image img {
  height: 8vh;
}
.faq-copy p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 3vh 7vw 0;
}
.faq-copy h3 {
  font-size: 1.3rem;
}

}