html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, sans-serif;
}
.call-action {
  border: 1px solid black;
  display: inline-block;
  list-style: none;
  padding: 1em;
}
.call-action a {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

/* HEADER STYLES */
.header {
  background-color: #fff;
  height: 15vh;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  display: block;
  height: 10vh;
  padding-left: 5.5vh;
  padding-top: 5vh;
  position: relative;
  width: 10vh;
}
.header-nav {
  float: right;
  padding: 5vh 5vh 0 0;
}
.header-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  text-align: center;
}
/* .header-nav > li ~ li {
  border-left: 1px solid rgba(76, 76, 76, 0.3);
  padding-left: 1em;
} */
.header-nav .call-action {
  padding: 1em;
  border: 1px solid black;
}
.nav-links a {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 0.8em;
  color: #4C4C4C;
  text-decoration: none;
}

/* HERO STYLES */
.full-hero {
  background-size: cover;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 100vh;
  padding-top: 15vh;
}
.hero-home {
  background-image: url('../images/mountain.jpg!d');
  background-position: center top;
}
.hero-content {
  color: #4C4C4C;
  font-size: 3rem;
  padding-left: 5.5vh;
  position: relative;
  top: 20%;
  transform: translate(0, -20%);
}
.hero-content h1 {
  color: rgba(76, 76, 76, 0.5);
  font-weight: 100;
}

/* CALLOUT STYLES */
.home-callout {
  background-color: red;
  flex: 1 1 auto;
  min-height: 85vh;
  position: relative;
}
.callout-copy {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 70%;
  position: absolute;
  left: 30%;
  padding: 2em;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
.callout-copy .callout-title {
  flex: 0 1 0;
  padding: 1em 0;
}
.callout-copy p {
  flex: 1 1 0;
}
.callout-copy ul {
  flex: 0 1 0;
  padding: 1em 0;
}
.callout-image {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.callout-image img {
  height: 400px;
}





.services-section {
  flex: 1 1 auto;
  height: 100vh;
}