<footer class="footer">
  <nav>
    <p>Barcelona, Spain</p>
    <ul class="social-list">
      <li>
        <a href="https://www.linkedin.com/in/samantha-hawkins2/" class="social-link"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/courageous_coaching/" class="social-link"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </nav>
    <h4 class="footer-text">©2020 by Samantha Hawkins. <span>Proudly created by Stephen Kaye, a very satisfied client.</span></h4>
</footer>