<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
    <label for="mobile-menu" class="show-mobile-menu">Menu</label>
  <ul class="header-nav nav-links">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <span class="drop-trigger">Individuals</span>
      <ul class="drop-menu">
        <!-- <li>Individuals</li> -->
          <li><a href="/individuals">Coaching for Individuals</a></li>
          <li><a href="/teenagers">Coaching for Teenagers</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <span class="drop-trigger">Organisations</span>
      <ul class="drop-menu">
        <!-- <li>Organisations</li> -->
          <li><a href="/organisations/">Coaching within Organisations</a></li>
          <li><a href="/workshops">Facilitation, Workshops & Guest Speaking</a></li>
      </ul>
    </li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/">Blog</a></li>
    <li><a href="/testimonials">Testimonials</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li id="call-action"><a href="/contact">Get in Touch</a></li>
  </ul>
  </nav>
  <a href="/" class="header-logo"><img src="../images/logo_home.png" alt="Samantha Hawkins"></a>
</header>